.slots-holder{
  position: absolute;
  width: 100%;
  height: 33%;
}
.slots-holder table{
  height: 100%;
  width: 100%;
}
.slots-holder div{
  height: 100%;
  width: 100%;
}
.button-holder{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 35%;
}
.win-or-lose{
  position: absolute;
  width: 100%;
  color: white;
  font-size: 42pt;
  text-align: center;
  top: 40%;
}
